module Colors.Stylix where

import XMonad

colorBg = "#{{base00-hex}}"
colorFg = "#{{base05-hex}}"
colorBlack = "#{{base01-hex}}"
colorRed = "#{{base08-hex}}"
colorGreen = "#{{base0B-hex}}"
colorYellow = "#{{base0A-hex}}"
colorBlue = "#{{base0E-hex}}"
colorMagenta = "#{{base0F-hex}}"
colorCyan = "#{{base01-hex}}"
colorWhite = "#{{base07-hex}}"

-- Select focus and secondary color
colorFocus = colorRed
colorSecondary = colorCyan
