.bar {
    border-radius: 10px;
    background: rgba({{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}},0.35);
    font-size: 18px;
}

.button {
    background: rgba(0,0,0,0.0);
}

.active-workspace {
    color: #{{base07-hex}};
    background: rgba(0,0,0,0.0);
    margin-right: -30px;
    margin-left: -30px;
}

.inactive-workspace {
    color: #{{base03-hex}};
    background: rgba(0,0,0,0.0);
}

.inactive-workspace:hover {
    color: #{{base0A-hex}};
}

.calendar_window {
    background: rgba({{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}},0.65);
    font-size: 1.2em;
    padding: 12px;
    border-radius: 10px;
    border-width: 0px;
}

.calendar_window:selected {
    background: #{{base08-hex}};
}

.calendar_window.header {
    background: rgba(0,0,0,0.0);
}

.time-box {
    background: rgba(0,0,0,0.0);
    margin-right: 5px;
}

.time-box:hover {
}

progressbar trough {
    min-width: 30px;
    background: #{{base05-hex}};
}

progressbar trough progress {
    background: #{{base07-hex}};
}

.battery-text-normal {
    color: #{{base07-hex}};
    font-size: 10px;
}

.battery-text-danger {
    color: #{{base08-hex}};
    font-size: 10px;
}

.battery-icon-normal {
    color: #{{base07-hex}};
    font-size: 20px;
}

.battery-icon-danger {
    color: #{{base08-hex}};
    font-size: 20px;
}
