#               FG              BTN_BG bright less brdark        less da     txt fg               br text              btn fg           txt bg     bg     shadow   sel bg     sel fg     link       visited           alt bg default          tooltip bg  tooltip_fg
[ColorScheme]
  active_colors=#{{base07-hex}},          #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base07-hex}},           #{{base07-hex}},           #{{base07-hex}},           #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base01-hex}}, #{{base00-hex}}, #{{base01-hex}}, #{{base07-hex}},            #{{base00-hex}}, #{{base07-hex}},           #{{base00-hex}}, #{{base07-hex}}
  disabled_colors=#767081, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #767081,  #767081,  #767081,  #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base01-hex}}, #{{base00-hex}}, #{{base01-hex}}, #767081,   #{{base00-hex}}, #767081,  #{{base00-hex}}, #767081
  inactive_colors=#{{base07-hex}},          #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base07-hex}},           #{{base07-hex}},           #{{base07-hex}},           #{{base00-hex}}, #{{base00-hex}}, #{{base00-hex}}, #{{base01-hex}}, #{{base00-hex}}, #{{base01-hex}}, #{{base07-hex}},            #{{base00-hex}}, #{{base07-hex}},           #{{base00-hex}}, #{{base07-hex}}
