[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
BackgroundAlternate={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
ForegroundNormal={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
DecorationFocus={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationHover={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
ForegroundActive={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNormal={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundPositive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundVisited={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}

[Colors:Complementary]
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
BackgroundAlternate={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
DecorationFocus={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationHover={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
ForegroundActive={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNormal={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundPositive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundVisited={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}

[Colors:Selection]
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
ForegroundNormal={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
BackgroundAlternate=255,0,0
DecorationFocus=0,255,0
DecorationHover=0,0,255
ForegroundActive={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNormal={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundPositive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundVisited={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}

[Colors:Tooltip]
BackgroundAlternate={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationHover={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
ForegroundActive={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNormal={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundPositive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundVisited={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}

[Colors:View]
BackgroundAlternate={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationHover={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
ForegroundActive={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNormal={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundPositive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundVisited={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}

[Colors:Window]
BackgroundAlternate={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
BackgroundNormal={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationFocus={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
DecorationHover={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
ForegroundActive={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundInactive={{base05-rgb-r}},{{base05-rgb-g}},{{base05-rgb-b}}
ForegroundLink={{base0C-rgb-r}},{{base0C-rgb-g}},{{base0C-rgb-b}}
ForegroundNegative={{base08-rgb-r}},{{base08-rgb-g}},{{base08-rgb-b}}
ForegroundNeutral={{base09-rgb-r}},{{base09-rgb-g}},{{base09-rgb-b}}
ForegroundNormal={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
ForegroundPositive={{base0B-rgb-r}},{{base0B-rgb-g}},{{base0B-rgb-b}}
ForegroundVisited={{base0D-rgb-r}},{{base0D-rgb-g}},{{base0D-rgb-b}}

[General]
ColorScheme=Breeze
Name={{scheme-name}}
shadeSortColumn=true
desktopFont=Intel One Mono,12,-1,5,50,0,0,0,0,0
fixed=Intel One Mono,12,-1,5,50,0,0,0,0,0
font=Intel One Mono,12,-1,5,50,0,0,0,0,0
menuFont=Intel One Mono,12,-1,5,50,0,0,0,0,0
smallestReadableFont=Intel One Mono,10,-1,5,50,0,0,0,0,0
toolBarFont=Intel One Mono,10,-1,5,50,0,0,0,0,0

[KDE]
contrast=4

[WM]
activeFont=Intel One Mono,10,-1,5,50,0,0,0,0,0
activeBlend={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
activeBackground={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
activeForeground={{base07-rgb-r}},{{base07-rgb-g}},{{base07-rgb-b}}
inactiveBlend={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
inactiveBackground={{base00-rgb-r}},{{base00-rgb-g}},{{base00-rgb-b}}
inactiveForeground={{base01-rgb-r}},{{base01-rgb-g}},{{base01-rgb-b}}
